body {
    background: #efefef;
    margin: 0;
}
a {
    color: white;
    text-decoration: none; 
}
.topNavBar {
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner{
    padding: 0 16px;
}
.banner {
    height: 515px;
    background-position: center center;
    background-size: cover;
    background-image: url(./images/bgimg.jpg);
}
.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.5);
}
.userCard {
    border:1px solid red;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.userCard .welcome {
    background: #39C5BB;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}
.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    border-left-color:#39C5BB;
    border-top-width:0px;
    position: absolute;
    top: 100%;
    left: 5px;
  }
.topNavBar nav {
    padding-top: 7px;
}
.topNavBar .logo {
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-family: "arial black";
}
.topNavBar .logo .miku {
    font-size: 24px;
    margin-right: 4px;
    color: #39C5BB;
}
.topNavBar .logo .miku2 {
    font-size: 24px;
    color:rgb(34, 132, 179);
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav > ul > li > a {
    font-size: 12px;
    color: #b7b7b7;
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top:5px ;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
}